@import "tailwindcss";
@import '@fontsource/comfortaa';
@import '@fontsource/jetbrains-mono';

:root {
  font-family: 'Comfortaa';
}

body {
  font-family: 'Comfortaa';
}

code, pre, .font-mono {
  font-family: 'JetBrains Mono';
}