---
import "../styles/global.css";

interface Props {
	title: string;
}

import Analytics from "@vercel/analytics/astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="font-sans">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Personal Dashboard" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-background text-foreground tracking-tight">
		<slot />
		<Analytics />
		<script>
			const theme = localStorage.getItem("theme") || "dark";
			document.documentElement.classList.toggle("dark", theme === "dark");
		</script>
	</body>
</html>
